@model MVC_Store.Models.User

@Html.Partial("~/Views/NavigationBar.cshtml", Model)

<h1><u><i>About my store</i></u></h1>

<p>
    It's my project in MVC course , of Ran Shahak.
    <br />
    This project including all the element that we learnd here
    <br />
    Like : Connected to data base data, javascript, angular, partial view, and more... 
</p>